dist/
*.pyc
*.egg-info
.venv
venv/
__pycache__
.mypy_cache
**/.pytest_cache/
.tox
.coverage
.idea/
htmlcov/
coverage-all.txt
*.zip
requirements.txt
**/requirements.txt
.lock-hash

# ignore packaging and lambda deps
terraform/mesh_aws_client/*
terraform/mesh_aws_client_dependencies/*
terraform/mesh_client_aws_serverless/*
terraform/mesh_client_aws_serverless_dependencies/*



# certs/keys/pems
*.crt
*.csr
*.key
*.pem
*.pfx
*.srl*
*.csr.cfg
*id_rsa*


# Big binaries
*.bz2
*.gz
*.jar
*.tar.gz
*.tgz
*.zip

# Packaging
build/
dist/
reports/


### Terraform ###
# Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform/
.terraform.plan
terraform.log
.tfplan.out
.tfplan.exit
localstack/.terraform.lock.hcl
localstack/files/zips/

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Don't commit the lock file, as we're just commiting modules
.terraform.lock.hcl
