aws-lambda-powertools==2.43.1 ; python_version >= "3.11" and python_version < "3.12"
boto3-stubs[athena,dynamodb,events,firehose,kms,lambda,logs,s3,secretsmanager,ses,sns,sqs,ssm,stepfunctions]==1.35.9 ; python_version >= "3.11" and python_version < "3.12"
boto3==1.35.9 ; python_version >= "3.11" and python_version < "3.12"
botocore-stubs==1.35.9 ; python_version >= "3.11" and python_version < "3.12"
botocore==1.35.9 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.8.30 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
idna==3.8 ; python_version >= "3.11" and python_version < "3.12"
importlib-metadata==8.0.0 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
mesh-client==3.2.3 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-athena==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-dynamodb==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-events==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-firehose==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-kms==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-lambda==1.35.3 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-logs==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-s3==1.35.2 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-secretsmanager==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-ses==1.35.3 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-sns==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-sqs==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-ssm==1.35.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-boto3-stepfunctions==1.35.9 ; python_version >= "3.11" and python_version < "3.12"
nhs-aws-helpers==0.7.10 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.12"
s3transfer==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
spine-aws-common==0.2.14 ; python_version >= "3.11" and python_version < "3.12"
types-awscrt==0.21.2 ; python_version >= "3.11" and python_version < "3.12"
types-s3transfer==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "3.12"
zipp==3.20.1 ; python_version >= "3.11" and python_version < "3.12"
