aws-lambda-powertools==2.43.1 ; python_version >= "3.11" and python_version < "4.0"
boto3-stubs[athena,dynamodb,events,firehose,kms,lambda,logs,s3,secretsmanager,ses,sns,sqs,ssm,stepfunctions]==1.38.20 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.38.20 ; python_version >= "3.11" and python_version < "4.0"
botocore-stubs==1.38.19 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.38.20 ; python_version >= "3.11" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.11" and python_version < "4.0"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==8.0.0 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
mesh-client==3.2.3 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-athena==1.38.13 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-dynamodb==1.38.4 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-events==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-firehose==1.38.16 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-kms==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-lambda==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-logs==1.38.16 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-s3==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-secretsmanager==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-ses==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-sns==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-sqs==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-ssm==1.38.5 ; python_version >= "3.11" and python_version < "4.0"
mypy-boto3-stepfunctions==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
nhs-aws-helpers==0.7.24 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
s3transfer==0.12.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
spine-aws-common==0.2.14 ; python_version >= "3.11" and python_version < "4.0"
types-awscrt==0.27.2 ; python_version >= "3.11" and python_version < "4.0"
types-s3transfer==0.12.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.13.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
zipp==3.21.0 ; python_version >= "3.11" and python_version < "4.0"
